alembic==1.4.3
appdirs==1.4.4
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.3.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.11.8
cffi==1.14.4
click==7.1.2
colorama==0.4.3
cryptography==39.0.1
decorator==4.4.2
distlib==0.3.1
dnspython==2.0.0
email-validator==1.1.2
filelock==3.0.12
flake8==3.8.4
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Ext==0.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Perm==0.2.8
Flask-Permissions==0.2.3
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
Flask-User==1.0.2.2
Flask-WTF==0.14.3
gunicorn==20.0.4
idna==2.10
infinity==1.5
iniconfig==1.1.1
intervals==0.9.0
isort==5.6.1
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==20.8
pathspec==0.8.1
pipenv==2022.1.8
mock==4.0.2
passlib==1.7.4
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pylint==2.6.0
pylint-flask-sqlalchemy==0.2.0
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
python-editor==1.0.4
regex==2020.11.13
sentry-sdk==0.20.1
six==1.15.0
soupsieve==2.0.1
sqla-softdelete==1.2
SQLAlchemy==1.3.22
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.5
validators==0.18.2
virtualenv==20.1.0
virtualenv-clone==0.5.4
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
WTForms-Components==0.10.4