{% extends "base.html" %}
{% block content %}
{% include 'components/navbar.html' %}

        
<div class="bg-red-600 w-5/6 rounded-md mx-auto text-center mt-6">

    Ben je zeker dat je deze datum wilt wijzigen?

    <div class="flex flex-1 justify-center w-5/6 mx-auto">
        <div class="w-5/6">
            <input type="hidden" name="person_id" value="{{ id }}">
            
            <div class="">
                <div class="w-3/4 m-auto text-center text-indigo-900 rounded-md py-3 bg-indigo-200 mb-4 mt-6">
                    {{ template_form.hidden_tag() }}
                    {{ template_form.workday.label }}
                    {{ item_to_change.workday }}
                </div>
            </div>
            <div class="">
                <div class="w-1/2 m-auto text-center text-indigo-900 rounded-md py-2 bg-indigo-200 my-2">
                    {{ template_form.start_hour.label }}
                    {{ item_to_change.start_hour }}
                </div>
                <div class="w-1/2 m-auto text-center text-indigo-900 rounded-md py-2 bg-indigo-200 mt-2 mb-4">
                    {{ template_form.end_hour.label }}
                    {{ item_to_change.end_hour }}
                </div> 
            </div>
            <div class="w-1/2 m-auto text-center text-xs text-indigo-900 rounded-md py-2 bg-indigo-200 my-4">
                {{ template_form.type_day.label }}
                {{ item_to_change.type_day }}
            </div> 
        </div>




        <div class="w-5/6">
        <form action="{{ url_for('hours_edit', id=id, datum=datum) }}" method="POST">
            <input type="hidden" name="person_id" value="{{ id }}">
            
            <div class="">
                <div class="w-3/4 m-auto text-center text-indigo-900 rounded-md py-3 bg-indigo-200 mb-4 mt-6">
                    {{ template_form.hidden_tag() }}
                    {{ template_form.workday.label }}
                    {{ template_form.workday(class="w-36 text-center ml-4 text-indigo-900 rounded-md") }}
                </div>
            </div>
            <div class="">
                <div class="w-1/2 m-auto text-center text-indigo-900 rounded-md py-2 bg-indigo-200 my-2">
                    {{ template_form.start_hour.label }}
                    {{ template_form.start_hour(class="w-32 text-center ml-4 text-indigo-900 rounded-md") }}
                </div>
                <div class="w-1/2 m-auto text-center text-indigo-900 rounded-md py-2 bg-indigo-200 mt-2 mb-4">
                    {{ template_form.end_hour.label }}
                    {{ template_form.end_hour(class="w-32 text-center ml-4 text-indigo-900 rounded-md") }}
                </div> 
            </div>
            <div class="w-1/2 m-auto text-center text-xs text-indigo-900 rounded-md py-2 bg-indigo-200 my-4">
                {{ template_form.type_day.label }}
                {{ template_form.type_day(class="w-32 text-center text-indigo-900 rounded-md") }}
            </div>     
        
        </div>

    </div>
    <div class="text-center">
        <input class="w-1/4 text-indigo-900 rounded-md py-1 bg-indigo-100 mt-2 mb-4 pointer-events-auto" id="submit" name="submit" type="submit" value="Wijzig">
    </div>  
    </form>

    <div class="bg-indigo-200 inline-block p-2 rounded-md absolute top-20 right-40">
        <a href="{{ url_for('hours_index') }}">X</a>
    </div>
    
</div>


{% endblock  %}