* {
   box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Krub", sans-serif;
}

h1 {
    text-align: center;
}


/* index en showAll styling */
.db-input td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

table {
    width: 90vw;
    margin: 0 auto;
    border-collapse: collapse;
    border: 0.5rem solid rgb(174, 219, 245);
}

tr {
    margin: 0;
    }

th, td {
    width: 15vw;
}

th {
    border: 0.5rem solid royalblue;
}

td {
    background-color: rgb(174, 219, 245);
    text-align: center;
    font-size: 1rem;
}

.form {
    margin-top: 0.75rem;
}

form.inline {
    display: inline-block;
}

.knop {
    background-color: rgb(174, 219, 245);
    border-radius: 15%;
    padding: 0.5rem 1rem;
    color: black;
}

.alle-knop {
    position: absolute;
    top: 5vh;
    right: 5vw;
}

.recent-knop {
    position: absolute;
    top: 5vh;
    right: 10.5vw;
}



/* register and login styling */

form.register-login {
    background-color:  rgb(174, 219, 245);
    width: 50vw;
    margin: 0 auto;
    padding: 1.5rem;
}

fieldset {
    border: 0.5rem solid royalblue;
}

legend {
    font-size: 2rem;
}

.label {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.center {
    text-align: center;
}

small {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

.submit {
    margin-top: 1rem;
    background-color: white;
}