<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collibri Tools</title>
    <link href="https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind-app.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='modal.js') }}" type="text/javascript" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript" defer></script>
</head>
<body class="bg-blue-50">

{#Todo: moet er terug uit! #}
<div class="flex fixed top-16 justify-center w-full">
    <div class="z-50 w-48 text-2xl text-center text-white bg-red-700 border-2 border-white">
        <div class="block sm:hidden">XS</div>
        <div class="hidden sm:block md:hidden">SM</div>
        <div class="hidden md:block lg:hidden">MD</div>
        <div class="hidden lg:block xl:hidden">LG</div>
        <div class="hidden xl:block 2xl:hidden">XL</div>
        <div class="hidden 2xl:block">2XL</div>
    </div>
</div>


<div class="pb-20">

    {% include 'components/navbar.html' %}
    <div class="container mx-auto">
        {% block content %}{% endblock %}
    </div>
</div>

<div class="fixed bottom-0 w-full">
    {% include 'components/footer.html' %}
</div>


</body>
</html>