{% extends "base.html" %}
{% block content %}
<!--Hoofding-->
<h1>Arctic Sun</h1>

<!--Link-knopjes-->
<a class="alle-knop" href="{{ url_for('showAll') }}">Alles</a>

<!--Tabel weergave-->
<table class="db-input">
    <tr class="table-header">
        <th>SN-nummer</th>
        <th>Status</th>
        <th>Afhaling</th>
        <th>Locatie</th>
        <th>Levering</th>
        <th>Locatie</th>
        <th>Opmerking</th>
        <th></th>
    </tr>
    {% for arctic in all_arctic_suns %}
        <tr>
                <td>{{ arctic.name }}</td>
                <td>{{ arctic.status }}</td>
            {% if arctic.date_in %}
                <td>{{ arctic.date_in.strftime('%d/%m/%Y') }}</td>
            {% else %}
                <td></td>
            {% endif %}
                <td style="white-space: pre-line">{{ arctic.pick_up_location }}</td>
            {% if arctic.date_out %}
                <td>{{ arctic.date_out.strftime('%d/%m/%Y') }}</td>
            {% else %}
                <td></td>
            {% endif %}
                <td style="white-space: pre-line">{{ arctic.destination }}</td>
            {% if arctic.remarks %}
                <td style="white-space: pre-line">{{ arctic.remarks }}</td>
            {% else %}
                <td></td>
            {% endif%}
            <td>
                <form action="{{ url_for('change', id=arctic.id) }}" method="GET" class="inline">
                    <input type="submit" value="Wijzig"></form>
                <form action="{{ url_for('delete') }}" method="POST" class="inline">
                    <input type="hidden" value="{{ arctic.id }}" name="id">
                    <input type="submit" value="X" name="delete"></form>
            </td>
        </tr>
    {% endfor %}
</table>

<table class="form">
    {% if edit == True %}
    <form action="{{ url_for('change', id=edit_id) }}" method="POST">
    {% else %}
    <form action="{{ url_for('add') }}" method="POST">
    {% endif %}
        {{ template_form.hidden_tag() }}
        <tr>
            <td>{{ template_form.name.label }}</td>
            <td>{{ template_form.status.label }}</td>          
            <td>{{ template_form.date_in.label }}</td>
            <td>{{ template_form.pick_up_location.label }}</td>
            <td>{{ template_form.date_out.label }}</td>
            <td>{{ template_form.destination.label }}</td>
            <td>{{ template_form.remarks.label }}</td>
        </tr>
        <tr> 
            <td>{{ template_form.name() }}</td>
            <td>{{ template_form.status() }}</td>
            <td>{{ template_form.date_in() }}</td>
            <td>{{ template_form.pick_up_location() }}</td>
            <td>{{ template_form.date_out() }}</td>
            <td>{{ template_form.destination() }}</td>
            <td>{{ template_form.remarks() }}</td>
        </tr>       
        <tr class="button">
            <td colspan="7"><input id="submit" name="submit" type="submit" value="{{ 'Wijzig' if edit else 'Toevoegen' }}"></td>
        </tr>
    </form>
</table>      

{% endblock %}
